# This is the config file for building and testing Geo::GDAL with Travis-ci.org

#sudo: required
#dist: trusty

os:
  - linux
#  - osx

language: perl
perl:
  - "5.10"

before_install:
  - sudo apt-get install libexpat-dev libpq-dev pdl
  - cpanm Alien::Build
  - cpanm ExtUtils::MakeMaker
  - cpanm HTTP::Tiny
  - cpanm PkgConfig
  - cpanm Sort::Versions
#  - cpanm https://github.com/shawnlaffan/perl-alien-gdal.git
  - svn co https://github.com/ajolma/perl-alien-gdal.git/trunk alien-gdal; cd alien-gdal; perl Makefile.PL; FORCE_DYNAMIC=1; make install; cd ..; rm -rf alien-gdal

install:
  - cpanm -v --installdeps --notest .

script: "perl Makefile.PL; make; make test"

branches:
  only:
    - master

notifications:
  recipients:
    - ari.jolma@gmail.com
  email:
    on_success: change
    on_failure: always
